body {
   margin: 0;
}

#main {
   display: flex;
   width: 100%;
   height: 100vh;
   background: #060606;

   #textarea-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;

      textarea {
         height: 50%;
         background: #1d1e22;
         color: white;
      }
   }

   #image-container {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: transparent;
      position: relative;

      svg {
         border: 1px #3f3f3f solid;
      }

      #output-svg-wrapper {
         color: #636363;
      }

      #vertical-selector {
         position: absolute;
         width: 1px;
         background: red;
         opacity: 0;
         pointer-events: none;
      }

      #controls {
         position: absolute;
         top: 0;
         background: #010101;
         padding: 10px;
         display: flex;
         justify-content: center;

         * {
            margin: 5px;
         }
      }

      #stats {
         @extend #controls;
         top: initial;
         bottom: 0;
         color: white;
      }
   }
}
